---
//2 Instructions in this component
import { Image } from "astro:assets";

// ↓ Here you can add the images/slides. ❶
import Image1 from "../../../assets/images/Lorem.jpg";

const slides = [
  { src: Image1, alt: "First image" },
  { src: Image1, alt: "Second image" },
  { src: Image1, alt: "Third image" },
];

// Here you can change the interval time (milliseconds). ❷
const intervalTime = 5000; 

---

<div class="flex overflow-hidden w-full not-content">
  <div
    id="carousel1"
    data-interval={intervalTime} 
    class="flex transition-transform duration-500 ease-in-out"
  >
    <!-- Images -->
    {
      slides.map((slide, i) => (
        <div class="w-full flex-shrink-0 p-6">
          <Image src={slide.src} alt={slide.alt} class="w-full h-full object-cover rounded-xl"/>
        </div>
      ))
    }
  </div>
</div>

<!-- Script to translate de element -->

<script>
  const carousel1 = document.getElementById("carousel1");
  const carouselInterval1 = carousel1.dataset.interval;
  let carouselIndex1 = 0;
  const totalSlides1 = carousel1.children.length;

  setInterval(() => {
    carouselIndex1 = (carouselIndex1 + 1) % totalSlides1;
    carousel1.style.transform = `translateX(-${100 * carouselIndex1}%)`;
  }, carouselInterval1);
</script>
