---
import Button from "../Button.astro";
import Section from "../Sections.astro";
import ComponentsGrid from "./ComponentsGrid.astro";
---

<Section>
  <ComponentsGrid />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="0.5"
    stroke="currentColor"
    class="bg-quaternary size-10 md:size-16 p-1 md:p-4 absolute top-0 left-0 translate-y-[calc(-100%-1px)] md:translate-y-0 md:translate-x-[calc(-100%-1px)] border-r border-t md:border-r-0 md:border-t-0 md:border-l md:border-b border-tertiary/30"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z"
    ></path>
  </svg>

  <h3 class="text-xl px-6 md:px-0 md:text-2xl font-regular text-center z-2">
    Explore our catalog and add fully functional <br /> components to your website
  </h3>
  <Button
    idButton="hoverButton"
    href="/components"
    text="Components"
    classAdd="z-2"
  />
</Section>

<script src="../../../scripts/componentsPreview.js"></script>
