---
import HeaderOne from "../../components/headers/Header1.astro";
import HeaderTwo from "../../components/headers/Header2.astro";
import HeaderThree from "../../components/headers/Header3.astro";

import Carousel from "../../components/carousels/Carousel4.astro";

import FrameOne from "../../components/frames/Frame1.astro";
import FrameTwo from "../../components/frames/Frame2.astro";
import FrameThree from "../../components/frames/Frame3.astro";

import Switch from "../../components/switches/Switch1.astro";
import Combobox from "../../components/comboxes/Combobox1.astro";
import Button from "../../components/buttons/Button1.astro";

import FooterOne from "../../components/footers/Footer1.astro";
import FooterTwo from "../../components/footers/Footer2.astro";
import FooterThree from "../../components/footers/Footer3.astro";
---

<div class="absolute top-0 left-0 w-full h-full grid grid-cols-5 grid-rows-6">
  <div
    id="targetHover"
    class="absolute inset-0 z-1 transition-all duration-600 ease-out bg-quaternary/70"
  >
  </div>

  <!-- ------Headers------ -->
  <div
    class="col-start-1 row-start-1 col-span-5 row-span-1 border-b border-tertiary/30 flex overflow-hidden"
  >
    <div id="headers" class="transition duration-1000 w-full h-full flex">
      <div class="min-w-full h-full flex items-center justify-center">
        <HeaderOne />
      </div>
      <div class="min-w-full h-full flex items-center justify-center">
        <HeaderTwo />
      </div>
      <div class="min-w-full h-full flex items-center justify-center">
        <HeaderThree />
      </div>
    </div>
  </div>
  <!-- ------ Frames ------ -->

  <div class="col-star-5 row-start-2 overflow-hidden">
    <div
      id="frames"
      class="transition duration-1000 w-full h-full -translate-y-[200%]"
    >
      <div class="w-full h-full flex items-center justify-center">
        <FrameOne />
      </div>
      <div
        class="transition duration-1000 w-full h-full flex items-center justify-center"
      >
        <FrameTwo />
      </div>
      <div
        class="transition duration-1000 w-full h-full flex items-center justify-center"
      >
        <FrameThree />
      </div>
    </div>
  </div>

  <!-- ------ Carousel ------ -->

  <div
    class="flex justify-center items-center col-start-1 md:col-start-1 row-start-2 border-r row-span-2 col-span-4 border-tertiary/30"
  >
    <Carousel />
  </div>

  <!-- ------Buttons------ -->
  <div
    class="col-start-4 md:col-start-5 col-span-2 md:col-span-1 row-start-2 md:row-start-3 md:border-t border-tertiary/30 overflow-hidden"
  >
    <div id="buttons" class="transition duration-1000 w-full h-full">
      <div class="w-full h-full flex items-center justify-center">
        <Switch />
      </div>
      <div
        class="transition duration-1000 w-full h-full flex items-center justify-center"
      >
        <Combobox />
      </div>
      <div
        class="transition duration-1000 w-full h-full flex items-center justify-center"
      >
        <Button />
      </div>
    </div>
  </div>

  <!-- ------Footers------ -->
  <div
    class="col-start-1 row-start-4 col-span-5 row-span-3 flex overflow-hidden border-t border-tertiary/30"
  >
    <div id="footers" class="transition duration-1000 flex -translate-x-[200%]">
      <div class="min-w-full h-full">
        <FooterThree />
      </div>
      <div class="min-w-full h-full">
        <FooterTwo />
      </div>
      <div class="min-w-full h-full">
        <FooterOne />
      </div>
    </div>
  </div>
</div>
