<button
  type="button"
  class="relative text-white border border-gray-900 px-4 py-3 group cursor-pointer"
>
  Effects
  <span
    class="absolute top-[50%] left-[50%] -translate-[50%] w-[130%] h-[140%] border border-transparent group-hover:w-[calc(100%+2px)] group-hover:h-[calc(100%+2px)] group-hover:border-white transition-all duration-200"
  ></span>
</button>
