---
const { text, href } = Astro.props;
---

<a
  type="button"
  class="relative text-white border border-gray-900 px-4 py-3 group mx-auto"
  href={href}
>
  {text}
  <span
    class="-z-10 absolute top-[50%] left-[50%] -translate-[50%]  group-hover:animate-wiggle border w-[calc(100%+2px)] h-[calc(100%+2px)] border-transparent transition-all duration-200"
  ></span>
</a>

<style>
    @keyframes wiggle {
    0% {
      border-color: transparent;
      transform: scaleX(1);
    }
    100% {
      border-color: transparent;
      width: 130%;
      height: 140%;
    }
    1% {
      border-color: #d3daec;
    }
  }
</style>
