<button
  type="button"
  class="text-white cursor-pointer border border-gray-900 px-4 py-3 relative group mx-auto"
>
  Effects
  <span
    class="absolute top-[50%] left-[50%] -translate-[50%] h-0 w-0 bg-white/10 group-hover:h-[100%] group-hover:w-full transition-all duration-200"
  ></span>
</button>
