<button
  type="button"
  class="relative text-white border border-gray-900 px-4 py-3 group cursor-pointer mx-auto"
>
  Effects
  <span
    class="-z-10 absolute top-[50%] left-[50%] -translate-[50%] group-hover:w-[130%] group-hover:animate-wiggle group-hover:h-[140%] border w-[calc(100%+2px)] h-[calc(100%+2px)] border-transparent transition-all duration-500"
  ></span>
</button>
