---
const { text, href} = Astro.props;
---

<a
  type="button"
  class="text-white border border-gray-900 px-4 py-3 relative group mx-auto"
  href={href}
>
  {text}
  <span
    class="absolute top-[50%] left-[50%] -translate-[50%] h-0 w-0 bg-white/10 group-hover:h-[100%] group-hover:w-full transition-all duration-200"
  ></span>
</a>
