---
import ButtonOne from "/src/components/effects/hovers/ButtonBg1.astro";
import ButtonTwo from "/src/components/effects/hovers/ButtonBg2.astro";
import ButtonThree from "/src/components/effects/hovers/ButtonBg3.astro";
import ButtonFour from "/src/components/effects/hovers/ButtonFrame1.astro";
import ButtonFive from "/src/components/effects/hovers/ButtonFrame2.astro";
import ButtonSix from "/src/components/effects/hovers/ButtonFrame3.astro";
import ButtonSeven from "/src/components/effects/hovers/ButtonFrame4.astro";
import LinkOne from "/src/components/effects/hovers/Underline1.astro";
import LinkTwo from "/src/components/effects/hovers/Underline2.astro";
import LinkThree from "/src/components/effects/hovers/Decode.astro";
import LinkFour from "/src/components/effects/hovers/Typing.astro";
---

<div>
  <h3 class="md:hidden">
    Yeah it's not going to work here, take your computer
  </h3>
  <div
    class="hidden md:grid grid-cols-3 border-t border-l border-white/30 divide-x divide-y divide-white/30 not-content"
  >
    <div class="flex justify-center py-8"><ButtonOne /></div>
    <div class="flex justify-center py-8"><ButtonTwo /></div>
    <div class="flex justify-center py-8"><ButtonThree /></div>
    <div class="flex justify-center py-8"><ButtonFour /></div>
    <div class="flex justify-center py-8"><ButtonFive /></div>
    <div class="flex justify-center py-8"><ButtonSix /></div>
    <div class="flex justify-center py-8"><ButtonSeven /></div>
    <div class="flex justify-center py-8"><LinkOne /></div>
    <div class="flex justify-center py-8"><LinkTwo /></div>
    <div class="flex justify-center py-12"><LinkThree /></div>
    <div class="flex justify-center py-12"><LinkFour /></div>
    <div></div>
  </div>
</div>
