---
// 2 Instructions in this component

import { Image } from "astro:assets";

// Start editing the component here ↓, choose the path to your logo. ❶

import logo from "../../../assets/icons/planckstar.svg";
---

<section class="h-screen w-full flex items-center justify-center">
  <div class="text-center text-white">
    <h1 class="text-9xl font-semibold mb-12">404</h1>
    <h2 class="text-2xl mb-2 font-regular">Whops!</h2>
    <p class="text-lg mb-8 font-light">
      Everything is fine you just need to come back home.
    </p>
    <button
      class="bg-gray-950 transition-colors duration-150 p-4 rounded-xl border border-white/10 hover:border-white/30 cursor-pointer"
    >
      <a href="/">Go back</a>
    </button>
  </div>
</section>
