---
// 2 Instructions in this component

import { Image } from "astro:assets";

// Start editing the component here ↓, choose the path to your logo. ❶
import yourLogo from "../../../assets/icons/planckstar.svg";

// Add the message here. ❷
const message = "The page you are looking for does not exist.";

---
<section class="relative h-screen w-full flex items-center justify-center not-content">

  <div class="absolute flex flex-col justify-between top-0 left-0 w-full h-full z-0">
    <div class="w-full border-b border-white/10"></div>
    <div class="w-full border-b border-white/10"></div>
    <div class="w-full border-b border-white/10"></div>
    <div class="w-full border-b border-white/10"></div>
  </div>

  <div class="absolute flex justify-around top-0 left-0 w-full h-full z-0">
    <div class="h-full border-r border-white/10"></div>
    <div class="h-full border-r border-white/10"></div>
    <div class="h-full border-r border-white/10"></div>
  </div>

  <div class="text-center text-white z-1 space-y-4 border border-white/10 p-8 rounded-xl backdrop-blur-[1px]">
    <Image src={yourLogo} alt="Main Logo" class="size-28 mx-auto"/>
    <h1 class="text-4xl font-bold mb-4"> <span class="mr-4 text-gray-400">404</span>Page Not Found</h1>
    <p class="text-lg mb-8">{message}</p>

    <button
      class="bg-gray-950 transition-colors duration-150 p-4 rounded-xl border border-white/10 hover:border-white/30 cursor-pointer mx-auto"
    >
      <a href="/">Go back</a>
    </button>
  </div>
</section>
