---
import { Image } from "astro:assets";
import yourCardImage from "../../../assets/images/Lorem.jpg";
---

<div class="w-90 border border-white/30 rounded-xl flex flex-col">
  <Image
    src={yourCardImage}
    alt="An axolotl programming intensely"
    class="w-full h-1% rounded-t-xl cont"
  />
  <div class="w-full p-4 pt-6 flex justify-center items-center">
    <p class="h-full w-full text-white text-center font-light text-xl">
      Header Ipsum
    </p>
  </div>
  <div class="px-6 text-start text-white font-light">
    <p class="text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu turpis
      et justo sodales aliquam. Suspendisse lacinia mauris sapien, at tincidunt
      magna faucibus a.
    </p>
  </div>

  <div class="px-6 py-6 w-full flex text-white font-extralight text-end">
    <p class="w-full text-xs">Aliquam non pretium dolor</p>
  </div>
</div>
