<div class="relative w-full h-80 border border-white/10 not-content">
  <div>
    <div class="absolute top-2 left-2 size-1.5 rounded-full bg-white"></div>
    <div class="absolute top-2 left-6 size-1.5 rounded-full bg-white"></div>
    <div class="absolute top-6 left-2 size-1.5 rounded-full bg-white"></div>

    <div class="absolute top-6 right-2 size-1.5 rounded-full bg-white"></div>
    <div class="absolute top-2 right-2 size-1.5 rounded-full bg-white"></div>
    <div class="absolute top-2 right-6 size-1.5 rounded-full bg-white"></div>

    <div class="absolute bottom-6 right-2 size-1.5 rounded-full bg-white"></div>
    <div class="absolute bottom-2 right-2 size-1.5 rounded-full bg-white"></div>
    <div class="absolute bottom-2 right-6 size-1.5 rounded-full bg-white"></div>

    <div class="absolute bottom-6 left-2 size-1.5 rounded-full bg-white"></div>
    <div class="absolute bottom-2 left-2 size-1.5 rounded-full bg-white"></div>
    <div class="absolute bottom-2 left-6 size-1.5 rounded-full bg-white"></div>
  </div>
</div>
