<div class="relative w-full h-full border border-white/10 not-content">
  <div>
    <!-- Top -->
    <!-- ---Left -->
    <div class="absolute top-4 left-2 w-4 border-b border-white"></div>
    <div class="absolute top-2 left-4 h-4 border-r border-white"></div>

    <!-- ---Right -->
    <div class="absolute top-4 right-2 w-4 border-b border-white"></div>
    <div class="absolute top-2 right-4 h-4 border-r border-white"></div>

    <!-- Bottom -->
    <!-- ---Left -->
    <div class="absolute bottom-4 left-2 w-4 border-b border-white"></div>
    <div class="absolute bottom-2 left-4 h-4 border-r border-white"></div>

    <!-- ---Right -->
    <div class="absolute bottom-4 right-2 w-4 border-b border-white"></div>
    <div class="absolute bottom-2 right-4 h-4 border-r border-white"></div>
  </div>
</div>
