<div class="relative w-full h-80 border border-white/10 not-content">
  <div>
    <div
      class="absolute top-0 left-0 size-6 bg-white [clip-path:polygon(0%_0%,100%_0%,45%_25%,25%_45%,0%_100%)]"
    >
    </div>

    <div
      class="absolute top-0 right-0 size-6 bg-white rotate-90 [clip-path:polygon(0%_0%,100%_0%,45%_25%,25%_45%,0%_100%)]"
    >
    </div>

    <div
      class="absolute bottom-0 left-0 size-6 bg-white rotate-[270deg] [clip-path:polygon(0%_0%,100%_0%,45%_25%,25%_45%,0%_100%)]"
    >
    </div>

    <div
      class="absolute bottom-0 right-0 size-6 bg-white rotate-180 [clip-path:polygon(0%_0%,100%_0%,45%_25%,25%_45%,0%_100%)]"
    >
    </div>
  </div>
</div>
