@import "tailwindcss";

@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary: #050506;
  --color-secondary: #389bd9;
  --color-tertiary: #d3daec;
  --color-quaternary: #121214;
  --animate-wiggle: wiggle 0.5s ease-in-out forwards;
}

.not-content {
  margin: revert !important;
}

html {
  scroll-behavior: smooth;
}
