@import "tailwindcss";

@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary: #050506;
  --color-secondary: #389bd9;
  --color-tertiary: #d3daec;
  --color-quaternary: #0b0b0c;
  --animate-wiggle: wiggle 0.5s ease-in-out forwards;
  @keyframes wiggle {
    0%,
    100% {
      border-color: transparent;
    }
    2% {
      border-color: #d3daec;
    }
    50% {
    }
  }
}

.not-content {
  margin: revert !important;
}

html {
  scroll-behavior: smooth;
}
