---
const { idButton, href, text, classAdd } = Astro.props;
---

<a
  id={idButton}
  href={href}
  class=`mt-12 px-4 py-2 bg-secondary text-primary hover:text-white transition-all duration-400 hover:bg-secondary/80 border border-transparent hover:border-white rounded-lg ${classAdd}`
>
  {text}
</a>
