<div
  class="relative w-full h-80 not-content bg-gray-950 overflow-hidden opacity-30 perspective-dramatic"
>
  <div
    id="BgRoofOne"
    class="absolute flex justify-around top-0 w-full h-full rotate-x-90 -translate-y-16"
  >
  </div>
  <div
    id="BgRoofOneP"
    class="absolute flex flex-col justify-around top-0 w-full h-full rotate-x-90 -translate-y-16"
  >
  </div>
  <div
    id="BgFloorOne"
    class="absolute flex justify-around bottom-0 w-full h-full rotate-x-90 translate-y-16"
  >
  </div>
  <div
    id="BgFloorOneP"
    class="absolute flex flex-col justify-around bottom-0 w-full h-full rotate-x-90 translate-y-16"
  >
  </div>
</div>

<script>
  const bgRoofOne = document.getElementById("BgRoofOne");
  const bgFloorOne = document.getElementById("BgFloorOne");
  const bgRoofOneP = document.getElementById("BgRoofOneP");
  const bgFloorOneP = document.getElementById("BgFloorOneP");
  const color = "rgba(190,190,190,.3)";

  const numberOfLines1 = 10;

  function draw3D() {
    for (let x = 0; x < numberOfLines1; x += 1) {
      bgRoofOne.appendChild(document.createElement("div")).style.cssText = `
          width: 0;
          height: 100%;
          border-left: 2px solid ${color};
        `;
      bgRoofOneP.appendChild(document.createElement("div")).style.cssText =
        `     
          width: 100%;
          height: 0;
          border-top: 2px solid ${color};
        `;
      bgFloorOne.appendChild(document.createElement("div")).style.cssText = `
          width: 0;
          height: 100%;
          border-left: 2px solid ${color};
        `;
      bgFloorOneP.appendChild(document.createElement("div")).style.cssText = `
          width: 100%;
          height: 0;
          border-top: 2px solid ${color};
        `;
    }
  }
  draw3D();
</script>
