<!-- Top -->
<div
  class="absolute w-[calc(100%+2px)] h-[50vh] top-0 left-0 -translate-x-[1px] -translate-y-[calc(100%+1px)] border-x border-tertiary/30 bg-primary"
>
</div>
<!-- Bottom -->
<div
  class="absolute w-[calc(100%+2px)] h-[50vh] bottom-0 left-0 -translate-x-[1px] translate-y-[calc(100%+1px)] border-x border-tertiary/30 bg-primary"
>
</div>
<!-- Left -->
<div
  class="absolute w-[100vh] h-[calc(100%+2px)] top-0 left-0 -translate-x-[calc(100%+1px)] -translate-y-[1px] border-y border-tertiary/30 bg-primary"
>
</div>
<!-- Right -->
<div
  class="absolute w-[100vh] h-[calc(100%+2px)] top-0 right-0 translate-x-[calc(100%+1px)] -translate-y-[1px] border-y border-tertiary/30 bg-primary"
>
</div>
