---
import Button from "../components/main/Button.astro";
import Frame from "../components/404/Frame404.astro";
---

<section
  class="w-full h-screen flex justify-center items-center overflow-hidden"
>
  <div
    class="relative text-tertiary text-center border border-tertiary/30 p-16 bg-primary"
  >
    <h2 class="text-4xl mb-4">404</h2>
    <p class="text-xl mb-6">Sorry that page doesn't exist</p>
    <Button href="/" text="Go home" />

    <Frame />
  </div>
</section>
