<footer
  class="bg-primary h-28 flex border-b border-tertiary/30 items-center justify-between text-tertiary"
>
  <div class="w-[15%] h-full border-r border-tertiary/30"></div>
  <p class="text-center">Built by your unfriendly neighborhood Yoxnear</p>
  <div class="w-[15%] h-full border-l border-tertiary/30"></div>
</footer>
