<form class="newsletter-form" action="/subscribe" method="POST">
  <label for="email" class="newsletter-label">Subscribe to our newsletter</label
  >
  <div class="newsletter-input-group">
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
      required
      class="newsletter-input"
    />
    <button type="submit" class="newsletter-button">Subscribe</button>
  </div>
</form>
