---
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/aster.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>PlanckStar UI</title>
  </head>
  <body class="m-0 w-full h-full bg-primary">
    <NavBar />
    <main>
      <slot />
    </main>
  </body>
</html>
