---
import Layout from "../../layouts/Layout.astro";
import CardOne from "../../components/components/cards/Card1.astro";
import CardTwo from "../../components/components/cards/Card2.astro";
import CardThree from "../../components/components/cards/Card3.astro";

const scale = 2; //  Modify this line to change the size

const width = 10 * scale;
const height = 6 * scale;
---

<Layout>
  <section class="bg-primary h-screen w-full flex justify-around items-center">
    <CardOne />
    <CardTwo />
    <CardThree />
  </section>

  <div class="flex w-full justify-around my-40"></div>
</Layout>
