---
import Layout from "../../layouts/Layout.astro";
import CardOne from "../../components/components/cards/Card1.astro";
import CardTwo from "../../components/components/cards/Card2.astro";
import CardThree from "../../components/components/cards/Card2.astro";
import FooterOne from "../../components/components/footers/Footer1.astro";
import SwitchOne from "../../components/components/switches/Switch1.astro";
import Combobox1 from "../../components/components/comboxes/Combobox1.astro";

const scale = 2; //  Modify this line to change the size

const width = 10 * scale;
const height = 6 * scale;
---

<Layout>
  <section class="bg-primary h-screen w-full flex justify-around items-center">
    <CardOne />
    <CardTwo />
    <CardThree />
  </section>

  <!-- Rounded switch -->
  <SwitchOne />
  <Combobox1 />
  <FooterOne />
</Layout>
