---
import Layout from "../../layouts/Layout.astro";
import CardOne from "../../components/components/cards/Card1.astro";
import CardTwo from "../../components/components/cards/Card2.astro";
import CardThree from "../../components/components/cards/Card2.astro";
---

<Layout>
  <section class="bg-primary h-screen w-full flex justify-around items-center">
    <CardOne />
    <CardTwo />
    <CardThree />
  </section>
</Layout>
