---
import Layout from "../../layouts/Layout.astro";
import CardOne from "../../components/components/cards/Card1.astro";
---

<Layout>
  <section class="bg-primary h-screen w-full flex justify-center items-center">
    <CardOne />
  </section>
</Layout>
